---
layout: page
title: Home
---
<table style= "border: none;">
  <tr>
    <td align="center" valign="center">
      <img src="/assets/img/head.png" alt="Huanana Shi">
    </td>
    <td align="center" valign="center">
      <h2>Hi, I'm Huanan Shi.</h2>
      <p>I am currently a Ph.D. student in physiology and biophysics at Baylor College of Medicine, specialized in using integrated multi-omics approaches with machine learning algorithms to answer physiological questions. My research focuses on understanding the interaction between the gut microbiome and host and the roles of gut microbiota in cardiovascular diseases. I was trained with a broad and in-depth knowledge of artificial intelligence, specifically predictive modeling, data mining, and problem-solving. My implementation skills in Python and R and proficiency in research are backed up by many research projects and are applicable beyond lab research. I am a fast learner and enthusiastic about creativity and innovation. I can also work independently and in an interdisciplinary team.
Beyond science, I am interested in bioethics and health policy. I have been actively involved in LGBTQ+ rights and visibility, sexual education, and health rights advocacy.</p>
    </td>
  </tr>
  </table>
