---
layout: default
title: Home
---
<img src="/assets/img/head.jpg" alt="Huanana Shi",height='40px',width='40px',border="0">
<h2>Hi, I'm Huanan Shi.</h2>
<p>I am currently a PhD candidate in Molecular Physiology and Biophysics program at Baylor College of Medicine. My dissertation work in Dr. David Durgan lab focuses on understanding mechanisms how gut microbiota affects blood pressure in hypertensive rat models. My research interests including using multi-omics approaches and machine-learning algorithm to process biological information and understanding physiological questions.
</p>
