---
layout: page
title: Home
---
  <div class="row">
    <div class="column left">
      <img src="/assets/img/head.png" alt="Huanana Shi">
    </div>
    <div class="column right">
      <h2>Hi, I'm Huanan Shi.</h2>
      <p>I am a PhD candidate within the Molecular Physiology and Biophysics program at Baylor College of Medicine. My dissertation work in Dr. David Durgan's lab focuses on using multi-omic approaches and machine-learning algorithms to process biological information. I apply this approach to understand the physiological relevance of gut microbiota and its affects on blood pressure in hypertensive rat models.</p>
    </div>
  </div>
